* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #0d3306;
    display: flex;
    padding: 28px 0;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.cabeçalho-título {
    color: #048504;
    font-size: 48px;
}

.custom-text {
    font-family: 'Times New Roman', serif;
    font-size: 28px;
    text-align: center;
}